<main id="maincontent" class="page-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <ol class="breadcrumb">
                    <li><a href="/" target="_self">Trang chủ</a></li>
                    <li><span>/</span></li>
                    <li class="active"><span>Tất cả sản phẩm</span></li>
                </ol>
            </div>
            <div class="col-xs-3 hidden-lg hidden-md">
                <a class="hidden-lg pull-right btn-aside-mobile" href="javascript:void(0)">Bộ lọc <i class="fa fa-angle-double-right"></i></a>
            </div>
            <div class="clearfix"></div>
            <aside class="col-md-3">
                <div class="inner-aside">
                    <div class="category">
                        <h5>Danh mục sản phẩm</h5>
                        <ul>
                            <li class="active">
                                <a href="#" title="Tất cả sản phẩm" target="_self">Tất cả sản phẩm
                                </a>
                            </li>
                            <li class="">
                                <a href="#" title="Kem Chống Nắng" target="_self">Kem Chống Nắng</a>
                            </li>
                            <li class="">
                                <a href="#" title="Kem Dưỡng Da" target="_self">Kem Dưỡng Da</a>
                            </li>
                            <li class="">
                                <a href="#" title="Kem Trị Mụn" target="_self">Kem Trị Mụn</a>
                            </li>
                            <li class="">
                                <a href="#" title="Kem Trị Thâm Nám" target="_self">Kem Trị Thâm Nám</a>
                            </li>
                            <li class="">
                                <a href="#" title="Sữa Rửa Mặt" target="_self">Sữa Rửa Mặt</a>
                            </li>
                            <li class="">
                                <a href="#" title="Sữa Tắm" target="_self">Sữa Tắm</a>
                            </li>
                        </ul>
                    </div>
                    <div class="price-range">
                        <h5>Khoảng giá</h5>
                        <ul>
                            <li >
                                <label for="filter-less-100">
                                <input  type="radio" id="filter-less-100" name="filter-price" value="0-100000">
                                <i class="fa"></i>
                                Giá dưới 100.000đ
                                </label>
                            </li>
                            <li >
                                <label for="filter-100-200">
                                <input  type="radio" id="filter-100-200" name="filter-price" value="100000-200000">
                                <i class="fa"></i>
                                100.000đ - 200.000đ
                                </label>
                            </li>
                            <li >
                                <label for="filter-200-300">
                                <input  type="radio" id="filter-200-300" name="filter-price" value="200000-300000">
                                <i class="fa"></i>
                                200.000đ - 300.000đ
                                </label>
                            </li>
                            <li >
                                <label for="filter-300-500">
                                <input  type="radio" id="filter-300-500" name="filter-price" value="300000-500000">
                                <i class="fa"></i>
                                300.000đ - 500.000đ
                                </label>
                            </li>
                            <li >
                                <label for="filter-500-1000">
                                <input  type="radio" id="filter-500-1000" name="filter-price" value="500000-1000000">
                                <i class="fa"></i>
                                500.000đ - 1.000.000đ
                                </label>
                            </li>
                            <li >
                                <label for="filter-greater-1000">
                                <input  type="radio" id="filter-greater-1000" name="filter-price" value="1000000-greater">
                                <i class="fa"></i>
                                Giá trên 1.000.000đ 
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="col-md-9 products">
                <div class="row equal">
                    <div class="col-xs-6">
                        <h4 class="home-title">Tất cả sản phẩm</h4>
                    </div>
                    <div class="col-xs-6 sort-by">
                        <div class="pull-right">
                            <label class="left hidden-xs" for="sort-select">Sắp xếp: </label>
                            <select id="sort-select">
                                <option value="" selected >Mặc định</option>
                                <option  value="price-asc">Giá tăng dần</option>
                                <option  value="price-desc">Giá giảm dần</option>
                                <option  value="alpha-asc">Từ A-Z</option>
                                <option  value="alpha-desc">Từ Z-A</option>
                                <option  value="created-asc">Cũ đến mới</option>
                                <option  value="created-desc">Mới đến cũ</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/beaumoreSecretWhiteningCream10g.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Kem làm trắng da 5 trong 1 Beaumore Secret Whitening Cream">Kem làm trắng da 5 trong 1 Beaumore Secret Whitening Cream</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-regular">200,000₫</span>
                                    <span class="product-item-discount">190,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="2" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/kemLamSangVungDaBikini.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Kem làm sáng vùng da bikini Beaumore- 50ml">Kem làm sáng vùng da bikini Beaumore- 50ml</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">849,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/suaRuaMatNgheBeaumore100g.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Sữa rửa mặt nghệ Beaumore Mới- 100g">Sữa rửa mặt nghệ Beaumore Mới- 100g</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">250,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="4" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/kemLuaLamDepDaBeaumore.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Kem lụa làm đẹp da Beaumore- 30ml">Kem lụa làm đẹp da Beaumore- 30ml</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">1,500,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="5" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/kemLamDepTucThiInstantBeauMore.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Kem làm đẹp tức thì  Instant Beaumore">Kem làm đẹp tức thì  Instant Beaumore</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">762,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="6" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/suaTamSandrasShowerGel.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Sữa tắm Sandras Shower Gel">Sữa tắm Sandras Shower Gel</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">180,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="7" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/suaDuongTheSandraschai88ml.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Sữa dưỡng thể Sandras chai 88ml">Sữa dưỡng thể Sandras chai 88ml</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">180,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="8" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/suaTamSandrasMychai250ml.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Sữa tắm Sandras Mỹ chai 250ml">Sữa tắm Sandras Mỹ chai 250ml</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">210,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="9" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/kemDuongTrangDaNgayVaDem.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Kem Dưỡng Trắng Da Ngày vs Đêm">Kem Dưỡng Trắng Da Ngày vs Đêm</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">265,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="10" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div class="product-container">
                            <div class="image">
                                <img class="img-responsive" src="/images/kemNenTrangDiemDuongDaSandrasBB.jpg" alt="">
                            </div>
                            <div class="product-meta">
                                <h5 class="name">
                                    <a class="product-name" href="chi-tiet-san-pham.html" title="Kem nền trang điểm dưỡng da Sandras BB 24h- 15ml">Kem nền trang điểm dưỡng da Sandras BB 24h- 15ml</a>
                                </h5>
                                <div class="product-item-price">
                                    <span class="product-item-discount">321,000₫</span>            
                                </div>
                            </div>
                            <div class="button-product-action clearfix">
                                <div class="cart icon">
                                    <a class="btn btn-outline-inverse buy" product-id="11" href="javascript:void(0)" title="Thêm vào giỏ">
                                    Thêm vào giỏ <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="quickview icon">
                                    <a class="btn btn-outline-inverse" href="chi-tiet-san-pham.html" title="Xem nhanh">
                                    Xem chi tiết <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paging -->
                <ul class="pagination pull-right">
                    <li class="active"><a href="javascript:void(0)" onclick="goToPage(1)">1</a></li>
                    <li class=""><a href="javascript:void(0)" onclick="goToPage(2)">2</a></li>
                    <li class=""><a href="javascript:void(0)" onclick="goToPage(3)">3</a></li>
                    <li><a href="javascript:void(0)" onclick="goToPage(2)">&raquo;</a></li>
                </ul>
                <!-- End paging -->
            </div>
        </div>
    </div>
</main>